
<!DOCTYPE html>
<html>
<head>
<title>Results</title>
</head>
<body>
<h1>Results</h1>
<table>
<tr>
<th>Field 1</th>
<th>Field 2</th>
<th>Field 3</th>
<th>Field 4</th>
<th>Field 5</th>
<th>Field 6</th>
<th>Field 7</th>
<th>Field 8</th>
<th>Field 9</th>
<th>Field 10</th>
</tr>
<tr>
<td>{{ data[0] }}</td>
<td>{{ data[1] }}</td>
<td>{{ data[2] }}</td>
<td>{{ data[3] }}</td>
<td>{{ data[4] }}</td>
<td>{{ data[5] }}</td>
<td>{{ data[6] }}</td>
<td>{{ data[7] }}</td>
<td>{{ data[8] }}</td>
<td>{{ data[9] }}</td>
</tr>
</table>
</body>
</html>

